{% extends 'base.html.twig' %}

{% block title %}Bucket list v2
{% endblock %}

{% block body %}


	<h1 class="text-center text-dark my-5 text-uppercase">
		TP Bucket-List version dino</h1>

	<div class="container h-100">
		<iframe src="https://chromedino.com/" frameborder="0" scrolling="no" width="100%" height="500px" loading="lazy"></iframe>
	</div>

{% endblock %}
