{% extends 'base.html.twig' %}

{% block title %}Bucket list v2
{% endblock %}

{% block body %}


	<h1 class="text-center text-dark my-5 text-uppercase">
		TP Bucket-List</h1>


	<div>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex obcaecati ducimus nisi, illo aliquam assumenda consequatur quis velit temporibus, hic excepturi officia quibusdam. Quo fuga eligendi officiis recusandae, tempore illo.
														Assumenda sequi, possimus nihil accusantium quod dolorem pariatur, dignissimos laudantium explicabo laboriosam totam quibusdam sapiente ex, neque eaque ab deleniti debitis nam repellat fugiat facilis asperiores consequatur! Neque, ab possimus.
														Molestias excepturi cupiditate cumque architecto soluta aliquid magni vitae illum repellat deserunt nostrum, molestiae modi voluptatum beatae temporibus iure quam reiciendis quisquam asperiores est laborum earum at voluptatibus atque? Repellendus?
														Unde vel ipsam quidem excepturi natus itaque et in a at odit, autem facere quod, quas voluptatum placeat mollitia, cumque nemo laudantium maiores dolorem minus provident. Placeat sit eligendi consequuntur?
														Eius, corporis accusantium. Blanditiis tempora maiores impedit exercitationem sunt quae vero iure temporibus at eveniet culpa in quasi illo, dolorum cupiditate quas nesciunt! Optio et vel cum itaque, unde non!</p>
	</div>

{% endblock %}
