{% extends 'base.html.twig' %}

{% block title %}Ma page Main!
{% endblock %}

{% block body %}
	<h1 class="text-center pt-5 pb-3">Mon tableau</h1>

	<div class="row">
		<div class="col-md-4 mx-auto">
			<table class="table">
				<thead class="table-primary">
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Prénom</th>
					</tr>
				</thead>
				<tbody>
					{%  for  indice,personne in personnes %}
						<tr>
							<td>{{indice}}</td>
							<td>{{personne.nom}}</td>
							<td>{{personne.prenom}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
