{% extends 'base.html.twig' %}

{% block title %}Create Category!
{% endblock %}

{% block body %}
	<h1 class="text-center pt-5 pb-3">#Create Category</h1>

	<div class="row">
		<div class="col-md-6 mx-auto">
			{{ form_start(CategoryForm) }}
			{{ form_widget(CategoryForm) }}
			<div class="d-grid gap-2 col-6 mx-auto my-4">
				<button class="btn btn-primary" type="sumbit">Ajouter</button>
			</div>
			{{ form_end(CategoryForm) }}

		</div>
	</div>

	<a href="{{path('app_home')}}" class="text-center">Back to the home page</a>
{% endblock %}
